body {
  font-family: "Poppins", sans-serif;
  color: #5E6282;
}
h1,
h2 {
  font-family: "Volkhov", serif;
  font-weight: 700;
}
.section-title{
    font-size: 48px;
    color: #181e4b;
}
.section-subtitle{
    font-size: 18px;
    font-weight: 600;
}